*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
header{
    text-align: center;
    background:#3498db ;
    font-size: 25px;
    padding: 15px 0;
    font-family: 'Tektur', cursive;
}
body{
    background-color: rgb(2, 2, 83);
    color:white;
    font-size: 25px;
}
.score-board{
   height: 100px;
    margin:20px auto;
    border:3px solid  white;
    border-radius: 4px;
    padding: 15px 20px;
    text-align: center;
    width:200px;
    position:relative;
    font-size: 30px;
}

.board-label{
background-color: rgb(199, 158, 236);
padding:4px;
}

#player-label{
    position:absolute;
    left:-45px;
    top:30px;
}
#computer-label{
    position:absolute;
    left:135px;
    top:30px;
}
.result{
    text-align: center;
    font-size: 40px;
    margin-top:60px;
}
.options{
text-align: center;
margin-top:70px;
margin-bottom: 100px;

    
}
.option{
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 30px;
    padding: 20px;
    display: inline-block;
    transition:all 0.3s ease;
}
.option:hover{
    cursor: pointer;
    background-color: rgb(199, 158, 236);
}
.action-message{
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin-bottom:30px;
}
span{
    font-size: 48px;
}